body {
        font-family: 'Helvetica', 'Arial', sans-serif;
    }
    .summary p {
        font-size: 12px;
        color: #7b7b7b;
        line-height: 22px;
        word-spacing: 2px;
    }
    .summary .title {
        font-weight:bold;
        font-size:16px;
    }
    .fields {
        margin: 30px 0px 50px 0px;
    }
    .fields input {
        width:100px;
        margin: 5px 0px 5px 0px;
    }
    .fieldblock label {
        display: inline-block;
        width: 200px;
        word-spacing: 2px;
        font-size: 15px;
    }
    .fieldblock {
        margin: 0px 0px 15px 0px;
    }
    .lighton {
        margin: 0px 0px 0px 85px;
        color: yellow;
    }
    .lightoff {
        margin:75px 0px  0px 85px;
    }
    .bulbimage {
        width:75px;
        height:75px;
    }
    .box {
        margin: 5px;
        float:left;
        width:200px;
        height:200px;
        background-color:teal;
    }