<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl"> 
<head>
	<link rel="icon" type="image/gif" href="./images/bulb_on.png" />
    <title>LightBulb Challenge</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>

<body>
    <h1>LightBulb Challenge</h1>
    <div class="summary">
        <p class="title">Summary:</p>
        <p>There are 100 light bulbs lined up in a row in a long room. Each bulb has its own switch and is currently switched off. The room has an entry door and an exit door. There are 100 people lined up outside the entry door. Each bulb is numbered consecutively from 1 to 100. So is each person. Person No. 1 enters the room, switches on every bulb, and exits. Person No. 2 enters and flips the switch on every second bulb (turning off bulbs 2, 4, 6, ...). Person No. 3 enters and flips the switch on every third bulb (changing the state on bulbs 3, 6, 9, ...). This continues until all 100 people have passed through the room. How many of the light bulbs are illuminated after the 100th person has passed through the room? More specifically, which light bulbs are still illuminated, and why?</p>
        
        <p class="title">Parameters:</p> 
        <p> 
            <b>Input:</b> number of lightbulbs N, and number of people P greater than 0. <br /> 
            <b>Output:</b> number of lightbulbs illuminated after the Nth person.
        </p>
        
    </div>
    
    <div class="fields">
        <div class="fieldblock">
            <label>Enter number of lightbulbs: </label>
            <input ng-model="lightbulbs" type="text" />
        </div>

        <div class="fieldblock">
            <label>Enter number of people: </label>
            <input ng-model="people" type="text" />
        </div>
        <button ng-click="generateData()">Run</button>
    </div>

    <div style="color:red;" ng-if="r == 1">
        Input must not exceed 30,000
    </div>

    <div class="box" ng-repeat="(key, value) in arr">
        <p class="lightoff" ng-if="value == 0">{{key}}</p>
        <div ng-if="value == 1">
            <img class="bulbimage" src="./images/bulb_on.png" />
            <p class="lighton">{{key}}</p>
        </div>
    </div>
</body>
</html>